{{#if manga.constant}}
<div class="manga-card">
	<a class="to-manga" href="
	{{#if toChapter}}
	{{genLink2 manga.provider manga.constant.slug manga.progress.chapterId }}
	{{else}}
	{{genLink2 manga.provider manga.constant.slug}}
	{{/if}}
	">
		<div class="poster-img" style="background-color: var(--border); background-image: url('{{manga.constant.posterUrl}}'); background-size: cover; background-position: center; background-repeat: no-repeat;">
			<img src="{{getScraperIcon manga.provider}}" title={{manga.provider}} alt="{{manga.provider}}" class="provider-image">
			{{#if toChapter}}
			<div class="poster-inner">
				<div class="poster-bottom">
					<div class="poster-text">
						{{getChapterName manga.progress manga}}
					</div>
					<div class="progress-bar-wrapper">
						<div class="progress-bar-line" style="width: {{manga.progress.percentage}}%" data-width="{{manga.progress.percentage}}%"></div>
					</div>
				</div>
			</div>
			{{/if}}
			{{#if manga.unreadChapterCount}}
			<span class="unread-chapter-count">{{manga.unreadChapterCount}}</span>
			{{/if}}
			{{#if manga.constant.nsfw}}
			<span class="badge nsfw-background">NSFW</span>
			{{/if}}
		</div>
	</a>
	<div class="manga-meta">
		<p class="progress">{{getProgressString manga}}</p>
		<div class="title-div">
			<span class="flex">
				{{#if progress.new}}
				<a class="to-manga" href="{{#if toChapter}}{{genLink2 manga.provider manga.constant.slug manga.progress.season manga.progress.chapter }}{{else}}{{genLink2 manga.provider manga.constant.slug}}{{/if}}">
					<span class="badge badge-background">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-arrow-right-circle"><circle cx="12" cy="12" r="10"></circle><polyline points="12 16 16 12 12 8"></polyline><line x1="8" y1="12" x2="16" y2="12"></line></svg>
					</span>
				</a>
				{{else}}
					<span></span>
				{{/if}}

				<a class="to-manga" href="
				{{#if toChapter}}
					{{genLink2 manga.provider manga.constant.slug manga.progress.chapterId }}
				{{else}}
					{{genLink2 manga.provider manga.constant.slug}}
				{{/if}}
				">
					<h2 class="title-small">
						{{#if manga.constant.title}}
						{{manga.constant.title}}
						{{else}}
						Error for {{manga.constant.slug}}
						{{/if}}
					</h2>
				</a>
			</span>
			{{#if toChapter}}
			<a href="{{genLink2 manga.provider manga.constant.slug}}" class="to-manga-page">
				<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-info"><circle cx="12" cy="12" r="10"></circle><line x1="12" y1="16" x2="12" y2="12"></line><line x1="12" y1="8" x2="12.01" y2="8"></line></svg>
			</a>
			{{/if}}
		</div>
	</div>
</div>
{{/if}}