<div class="manga-card">
	<a class="to-manga" href="{{genLink manga toChapter}}"><img alt="Poster" src="{{manga.constant.posterUrl}}" class="poster"></a>
	<div class="manga-meta">
		<p class="progress">{{getProgressString manga}}</p>
		<a class="to-manga" href="{{genLink manga toChapter}}"><h2 class="title-small">{{manga.constant.title}}</h2></a>
	</div>
</div>