<!DOCTYPE html>
<html>
	<head>
		<title>MANGA</title>
		{{#ifDev}}
		<link rel="apple-touch-icon" href="/apple-touch-icon-dev.png">
		{{else}}
		<link rel="apple-touch-icon" href="/apple-touch-icon.png">
		{{/ifDev}}


		<meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
		<meta name="apple-mobile-web-app-capable" content="yes">
		<meta name="mobile-web-app-capable" content="yes">
				
		<meta charset="utf-8">
		<link rel="manifest" href="/manifest.json">
		<link rel="stylesheet" href="/css/main.css">
		
		<meta name="description" content="Description here">
		<meta property="og:description" content="Description here">
		<meta name="twitter:description" content="Description here">
		
		<link rel="icon" href="/icon.png">
		<meta property="og:image" content="/icon.png">
		<meta name="twitter:image:src" content="/icon.png">
		<meta name="twitter:card" content="summary">
		
		<meta name="keywords" content="online palette storage">
		<meta name="theme-color" content=" #457461 "  content="#427487">
		
		<meta property="og:title" content="MANGA">
		
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0, minimal-ui, viewport-fit=cover">
		
		<meta name="twitter:title" content="MANGA">
	</head>
	<body data-to-page="{{getPageProgress navigation.currentChapter.progress}}" {{#ifDev}}data-is-dev="true"{{/ifDev}}>
		<div class="wrapper-all">
			<aside class="sidebar main-sidebar">
				<div class="section logo-section">
					<a href="/">
						<div class="logo">
							<div class="square">

							</div>
							<h1>Manga thing</h1>
						</div>
					</a>
				</div>
				<div class="section nav">
					<a href="/backups/" class="small-manga {{#if isBackup}}currentManga badge-background{{/if}}">
						<div class="icon">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-skip-back"><polygon points="19 20 9 12 19 4 19 20"></polygon><line x1="5" y1="19" x2="5" y2="5"></line></svg>
						</div>
						<div class="content">
							<h4 class="small-title">Backups</h4>
						</div>
					</a>
				</div>
				<div class="section search">
					<label for="search">Search</label>
					<input type="text" placeholder="Fire Force" id="search" value="{{query}}">
				</div>
				{{#if reading}}
				<div class="section reading-side">
					<label>Reading</label>
					<div class="small-manga-list">
					{{#each reading}}
						{{> manga-small manga=this}}
					{{/each}}
					</div>
				</div>
				{{/if}}
				
				{{#if readerSettings}}
				<hr>
				{{> settings }}
				{{/if}}
				{{#if navigation}}
				<hr>
				<div class="section chapter-navigation">
					<div class="current toggle-quick-select"><span class="decorative">Currently on page</span> <span class="current">0 of 0</span></div>
					<div class="next">
						{{#if navigation.nextChapter}}
						<a href="{{navigation.nextChapter.href}}" class="chapterLink">
							<span>{{navigation.nextChapter.label}}</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="decorative feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
						</a>
						{{/if}}
					</div>
					<div class="previous">
						{{#if navigation.previousChapter}}
						<a href="{{navigation.previousChapter.href}}" class="chapterLink">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="decorative feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
							<span>{{navigation.previousChapter.label}}</span>
						</a>
						{{/if}}
					</div>
				</div>
				{{/if}}
			</aside>
			<div class="content-wrapper">
				{{{ body }}}
			</div>
		</div>
		<script src="/js/universal.js"></script>
	</body>
</html>