<div class="content-inner">
	<div class="manga-content">
		<div class="manga-top">
			<div class="image">
				<img class="poster" alt="Poster" src="{{data.constant.posterUrl}}">
			</div>
			<div class="top-content">
				<h1 class="sub-title">{{data.constant.title}}</h1>
				<div class="badges">
					{{#each data.constant.genres}}
					<span class="badge badge-background">{{this}}</span>
					{{/each}}
				</div>
				<div class="description">
					{{#each data.constant.descriptionParagraphs}}
					<p class="description">{{this}}</p>
					{{/each}}
				</div>
				<div class="chapter-list">
					<h3 class="sub-title">Chapters</h3>
					<div class="chapters">
						{{#each data.data.chapters}}
						<a class="chapter" href="{{ genLink @root.data true this.progress this.href }}">
							<span class="label">{{this.label}}</span> 
							{{#if this.progress}}<span class="progress" data-color="{{this.progress.percentageColor}}">{{this.progress.percentage}}%</span>{{/if}}
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>