<div class="content-inner">
	<div class="manga-content">
		<div class="manga-top">
			<div class="image">
				<img class="poster" alt="Poster" src="{{data.constant.posterUrl}}">
			</div>
			<div class="top-content">
				<h1 class="sub-title">{{data.constant.title}}</h1>
				<div class="badges">
					{{#each data.constant.genres}}
					<span class="badge badge-background">{{this}}</span>
					{{/each}}
				</div>
				<div class="description">
					{{#each data.constant.descriptionParagraphs}}
					<p class="description">{{this}}</p>
					{{/each}}
				</div>
				<div class="chapter-list">
					<h3 class="sub-title spread">
						<span>Chapters</span>
						<select class="sorting">
							<option selected disabled value="chapter">Sorting (default: chapters)</option>
							<option value="chapter">Chapters</option>
							<option value="chapter-reversed">Chapters (reversed)</option>
							<option value="read">Last read</option>
						</select>
					</h3>
					<div class="chapters">
						{{#each data.data.chapters}}
						<a class="chapter" data-combined="{{this.combined}}" data-release-date="{{this.date}}" data-last-read={{this.progress.at}} href="{{ genLink2 @root.data.constant.slug this.season this.chapter this.progress.current }}">
							<span class="label">{{this.label}} <span class="date">{{getChapterDate this}}</span></span> 
							{{#if this.progress}}<span class="progress" data-color="{{this.progress.percentageColor}}">{{this.progress.percentage}}%</span>{{/if}}
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<script src="/js/manga.js"></script>