<div class="content-inner has-banner">
	<div class="manga-content">

		<script>
			let lists = {{{stringify lists}}};
			let allLists = {{{stringify allLists}}};
		</script>

		<div class="manga-top">
			<div class="image">
				<div class="aside-inner">
					<img class="poster" alt="Poster" src="{{data.constant.posterUrl}}">
					<div class="banner-wrapper">
						<img class="banner" alt="Banner" src="{{#if data.constant.banner}}{{data.constant.banner}}{{else}}{{data.constant.posterUrl}}{{/if}}">
					</div>
					<div class="hide-on-mobile">
						{{> sidebar-buttons }}
					</div>
				</div>
			</div>
			<div class="top-content">
				<h1 class="sub-title">{{#if data.constant.nsfw}}<span class="badge badge-nsfw nsfw-background">NSFW</span>{{/if}}{{data.constant.title}}</h1>
				<div class="badges">
					<span class="badge badge-background">Series status: {{data.data.status}}</span>
					{{#each data.constant.genres}}
					<span class="badge badge-background">{{this}}</span>
					{{/each}}
				</div>
				<div class="hide-on-desktop">
					{{> sidebar-buttons }}
				</div>
				<div class="description">
					{{#each data.constant.descriptionParagraphs}}
					<p class="description">{{{this}}}</p>
					{{/each}}
				</div>

				<div class="manga-page-section">
					<h3 class="sub-title">Lists</h3>
					<div class="lists-wrapper">
						<div class="display-lists"></div>
						<div class="input-div">
							<input type="text" placeholder="Add to list">
							<div class="suggestions"></div>
						</div>
					</div>
				</div>

				{{#if mangaProgress}}
				<div class="manga-page-section">
					<h3 class="sub-title">Progress</h3>
					<div class="manga-progress">
						<div class="bar-wrapper">
							<div class="bar-inner badge-background" style="width: {{mangaProgress.percentage}}%"></div>
						</div>
						<p>You've read {{mangaProgress.done}} of {{mangaProgress.total}} chapters ({{mangaProgress.percentage}}%)</p>
					</div>
				</div>
				{{/if}}
				<div class="chapter-list">
					<h3 class="sub-title spread">
						<span>Chapters</span>
						<select class="sorting">
							<option selected disabled value="chapter">Sorting (default: chapters)</option>
							<option value="chapter">Chapters</option>
							<option value="chapter-reversed">Chapters (reversed)</option>
							<option value="read">Last read</option>
						</select>
					</h3>
					<div class="chapters">
						{{#each data.data.chapters}}
						<a class="chapter" data-href-string="{{this.hrefString}}" data-combined="{{this.combined}}" data-release-date="{{this.date}}" data-last-read="{{this.progress.at}}" href="{{ genLink2 @root.data.provider @root.data.constant.slug this.hrefString }}">
							<span class="label">
								<span class="select">
									<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-check-square"><polyline points="9 11 12 14 22 4"></polyline><path d="M21 12v7a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h11"></path></svg>
								</span>
								{{this.label}} 
								<span class="date">{{getChapterDate this}}</span>
							</span> 
							{{#if this.progress}}<span class="progress" data-color="{{this.progress.percentageColor}}">{{this.progress.percentage}}%</span>{{/if}}
						</a>
						{{/each}}
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="selection-actions is-secondary-footer">
	<div class="selection-actions-inner">
		{{> mark-as-buttons}}
	</div>
</div>

<script src="/js_compiled/pages/lists-editor.js"></script>
<script src="/js_compiled/pages/manga.js"></script>