
<div class="floating-button-wrapper">
	<a class="anchor go-to-main-page floating-button" href="/{{data.constant.slug}}">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
	</a>
	<a class="anchor go-to-main-page floating-button" href="/">
		<svg style="padding: 5px;" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path</svg>
	</a>
	<div class="do-padding toggle-on-tap">
		{{navigation.currentChapter.label}}
	</div>
</div>

<section class="manga-reader">
	<div class="loading"></div>
	<div class="pages">
		{{#each data.data.chapterImages}}
		<img alt="Page" src="{{this}}" class="pageImg">
		{{/each}}
	</div>
</section>

<div class="quick-select-wrapper toggle-quick-select">

	{{!-- Quick select for chapters --}}
	<div class="quick-select chapter-quick-select">

		<div class="quick-sticky">
			{{!-- Back to manga link --}}
			<div class="manga-profile-medium">
				<div class="poster-wrapper">
					<img class="poster" alt="Manga's poster" src="{{data.constant.posterUrl}}">
				</div>
				<div class="core">
					<div class="core-inner">
						<h3 class="small-title">{{data.constant.title}}</h3>
						<a class="anchor go-to-main-page" href="/{{data.constant.slug}}">Go to details page</a>
					</div>
				</div>
			</div>

			{{!-- Setting --}}
			{{> settings }}
		</div>

		{{!-- Scrollable section --}}
		<div class="scroll chapters">
			<h3 class="small-title">Chapters</h3>
			{{#each data.data.chapters}}
			<a class="chapter {{ isCurrentChapter this.season @root.navigation.currentChapter.season this.chapter @root.navigation.currentChapter.chapter }}" href="{{this.href}}">
				<span class="label">{{this.label}}</span> 
				{{#if this.progress}}<span class="progress" data-color="{{this.progress.percentageColor}}">{{this.progress.percentage}}%</span>{{/if}}
			</a>
			{{/each}}
		</div>
 
	</div>
</div>
<script src="/js/reader.js"></script>