
<div class="floating-button-wrapper toggle-on-tap">
	<a class="blue-on-click do-width go-to-main-page is-floating-button is-floating-button" href="{{genLink2 data.provider data.constant.slug}}">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
	</a>
	<div class="do-padding is-floating-button">
		{{navigation.currentChapter.label}}
	</div>
	<div class="is-floating-button is-camera-button do-width">
		<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-camera"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
	</div>
</div>

<section class="manga-reader">
	<div class="loading"></div>
	<div class="pages">
		{{#if navigation}}
		<div class="in-chapter-navigation toggle-on-tap tapped">
			<div class="in-chapter-nav-inner">
				<div class="nav-items">
					<div class="next">
						{{#if navigation.nextChapter}}
						<a href="{{genLink2 @root.data.provider @root.data.constant.slug navigation.nextChapter.hrefString }}" class="chapterLink secondary-button">
							<span>{{navigation.nextChapter.label}}</span>
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="decorative feather feather-chevron-right"><polyline points="9 18 15 12 9 6"></polyline></svg>
						</a>
						{{/if}}
					</div>
					<div class="previous">
						{{#if navigation.previousChapter}}
						<a href="{{genLink2 @root.data.provider @root.data.constant.slug navigation.previousChapter.hrefString }}" class="chapterLink secondary-button">
							<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="decorative feather feather-chevron-left"><polyline points="15 18 9 12 15 6"></polyline></svg>
							<span>{{navigation.previousChapter.label}}</span>
						</a>
						{{/if}}
					</div>
				</div>
			</div>
		</div>
		{{/if}}
	</div>
	<div class="current-pages-button toggle-on-tap tapped is-floating-button do-padding">
		{{!-- Pages --}}
		<span class="current-page">0 of 0</span>
		
		{{!-- Current chapter  --}}
		<span>{{#if data.data.hasSeasons}}<span class="do-margin-right">S{{navigation.currentChapter.season}}</span>{{/if}} Ch {{ navigation.currentChapter.chapter }}</span>

		{{!-- Loading progress, empty after loaded  --}}
		<span class="current-loading-progress">00%</span>

		<span class="reload-chapters-button hidden">
			<svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-refresh-cw"><polyline points="23 4 23 10 17 10"></polyline><polyline points="1 20 1 14 7 14"></polyline><path d="M3.51 9a9 9 0 0 1 14.85-3.36L23 10M1 14l4.64 4.36A9 9 0 0 0 20.49 15"></path></svg>
		</span>
	</div>
</section>

<div class="quick-select-wrapper toggle-quick-select">

	{{!-- Quick select for chapters --}}
	<div class="quick-select chapter-quick-select">

		{{!-- Back to manga link --}}
		<div class="manga-profile-medium">
			<div class="poster-wrapper">
				<img class="poster" alt="Manga's poster" src="{{data.constant.posterUrl}}">
			</div>
			<div class="core">
				<div class="core-inner">
					<h3 class="small-title">{{data.constant.title}}</h3>
					<a class="anchor go-to-main-page" href="{{genLink2 data.provider data.constant.slug}}">Go to details page</a>
				</div>
			</div>
		</div>

		{{!-- Setting --}}
		{{> settings }}

		{{!-- Scrollable section --}}
		<div class="scroll chapters">
			<h3 class="small-title">Chapters</h3>
			{{#each data.data.chapters}}
			<a class="chapter {{ isCurrentChapter this.season @root.navigation.currentChapter.season this.chapter @root.navigation.currentChapter.chapter }}" href="{{ genLink2 @root.data.provider @root.data.constant.slug this.hrefString }}">
				<span class="label">{{this.label}}</span> 
				{{#if this.progress}}<span class="progress" data-color="{{this.progress.percentageColor}}">{{this.progress.percentage}}%</span>{{/if}}
			</a>
			{{/each}}
		</div>
 
	</div>
</div>

<script src="/js_compiled/reusable/reader-settings.js"></script>
<script src="/js_compiled/pages/reader.js"></script>