
<link rel="stylesheet" href="/css/settings.css">

<div class="content-inner">
	<h1 class="title">Settings</h1>
	<p>These are app-wide settings.</p>

	<section class="section">
		<h2 class="sub-title">App icon</h2>
		<p>For this to take effect, re-add the app to your home screen.</p>

		<div class="icon-grid">
			{{#each icons}}
			<div class="icon-option {{#if isSelected}}is-current-icon{{/if}}">
				<img src="{{src}}" class="icon" alt>
				<div>
					<p class="text">{{name}}</p>
				</div>
			</div>
			{{/each}}
		</div>

	</section>

	<section class="section">
		<h2 class="sub-title">Theme</h2>
		<p>Primary color for the app.</p>

		<div class="color-grid"></div>

	</section>

	<section class="section app-wide-settings">
		<h2 class="sub-title">App settings</h2>
		<div class="setting-wrapper toggle no-spread ignore" data-setting="show-completed">
			<input type="checkbox" class="switch" data-true="yes" data-false="no" {{#if showCompleted}}checked{{/if}} />
			<label>Show series you "caught up on" in continue reading</label>
		</div>
		<div class="setting-wrapper toggle no-spread ignore" data-setting="show-unread-chapter-count">
			<input type="checkbox" class="switch" data-true="yes" data-false="no" {{#if showUnreads}}checked{{/if}} />
			<label>Show unread chapter count</label>
		</div>
		<div class="setting-wrapper toggle no-spread ignore" data-setting="show-nsfw">
			<input type="checkbox" class="switch" data-true="yes" data-false="no" {{#if showNsfw}}checked{{/if}} />
			<label>Show NSFW</label>
		</div>
		<div class="setting-wrapper toggle no-spread ignore" data-setting="store-nsfw">
			<input type="checkbox" class="switch" data-true="yes" data-false="no" {{#if storeNsfw}}checked{{/if}} />
			<label>Store NSFW progress</label>
		</div>
	</section>

	<section class="section">
		<h2 class="sub-title">Reader settings</h2>
		{{> settings-inner }}
	</section>
	<section class="section">
		<h2 class="sub-title">Backups</h2>
		<div class="backups">
		{{#each backups}}
		<div class="backup" data-backup="{{fileName}}">
			<div class="backup-left">
				<p class="title"><span>{{label}}</span></p>
				<div class="badge-list display-lists">
					<div class="tertiary-badge">Reading {{readingCount}} series, read {{totalChapterCount}} chapters</div>
					<div class="tertiary-badge">{{listCount}} lists, {{listEntryCount}} series in lists</div>

				</div>
			</div>
			<div class="backup-right">
				<button class="badge-background">Restore</button>
			</div>
		</div>
		{{/each}}
	</div>
</div>

<script src="/js_compiled/reusable/reader-settings.js"></script>
<script src="/js_compiled/pages/settings.js"></script>
<script src="/js_compiled/pages/backups.js"></script>