
<link rel="stylesheet" href="/css/settings.css">

<div class="content-inner">
	<h1 class="title">Settings</h1>
	<p>These are app-wide settings.</p>

	<section class="section">
		<h2 class="sub-title">App icon</h2>
		<p>For this to take effect, re-add the app to your home screen.</p>

		<div class="icon-grid">
			{{#each icons}}
			<div class="icon-option {{#if isSelected}}is-current-icon{{/if}}">
				<img src="{{src}}" class="icon" alt>
				<p class="text">{{name}}</p>
			</div>
			{{/each}}
		</div>

	</section>

	<section class="section app-wide-settings">
		<h2 class="sub-title">App settings</h2>
		<div class="setting-wrapper toggle no-spread ignore" data-setting="show-nsfw">
			<input type="checkbox" class="switch" data-true="yes" data-false="no" {{#if showNsfw}}checked{{/if}} />
			<label>Show NSFW</label>
		</div>
	</section>

	<section class="section">
		<h2 class="sub-title">Reader settings</h2>
		{{> settings-inner }}
	</section>
	<section class="section">
		<h2 class="sub-title">Backups</h2>
		<div class="backups">
		{{#each backups}}
		<div class="backup" data-backup="{{fileName}}">
			<span>{{label}} <span class="secondary">({{size}})</span></span>
			<button class="badge-background">Restore</button>
		</div>
		{{/each}}
	</div>
</div>

<script src="/js/reusable/reader-settings.js"></script>
<script src="/js/pages/settings.js"></script>
<script src="/js/pages/backups.js"></script>